[submodule "zsh/custom/plugins/zsh-nvm"]
	path = zsh/custom/plugins/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm
[submodule "chezmoi/dot_hammerspoon/Spoons/StreamDeckButton.spoon"]
	path = chezmoi/dot_hammerspoon/Spoons/StreamDeckButton.spoon
	url = https://github.com/danielo515/StreamDeckButton.spoon.git
[submodule "haxe-nvim"]
	path = haxe-nvim
	url = https://github.com/danielo515/haxe-nvim.git
[submodule "hammerspoon-hx"]
	path = hammerspoon-hx
	url = https://github.com/danielo515/hammerspoon-hx.git
