# Ignore Mac OS files
.DS_Store

# Ignore the "local" versions of files
*.local
*.local.*
secrets
chezmoi/Brewfile.lock.json
zsh/custom/plugins
danielo_nvim/nvim-api.msgpack
kickstart.hx/dump
.session
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
