git:
  autocommit: false
  autopush: false
verbose: true
data: 
  dotfiles: {{ .chezmoi.workingTree }}
encryption: age
age:
  identity: ~/key.txt
  recipient: age18n03s7dz5v6pwjrzdtseenparscmhsqvjgyjfh6dx0q8jdt8e49sgvuwp8
