{{ template "variables" . }}
{{ template "path" . }}
{{ include (joinPath .chezmoi.workingTree "zsh" "zshrc.zsh") }}
{{- if (eq .chezmoi.os "darwin") -}}
{{ include (joinPath .chezmoi.workingTree "zsh" "zshrc.osx.zsh") }}
{{ end }}
{{- if (joinPath .chezmoi.homeDir ".config" "asdf-direnv" | stat ) }}
source "${XDG_CONFIG_HOME:-$HOME/.config}/asdf-direnv/zshrc"
{{- end }}
